*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: poppins;
}

body{
    background:linear-gradient(to right bottom, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.671)), url(./img/fun-backpacker-german-shepherd-dog-cartoon-character\ \(2\).jpg) no-repeat;
    background-size: cover;
    background-position-y: -12rem;
}

.title{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 10% auto;
   
}

.pp{
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 20px;
   border-right: 2px solid orangered;
   border-left: 2px solid orangered;
    min-width: 33.5rem;
    text-align: center;
}

h1{
    font-size: 50px;
    color: white;
    cursor: pointer;
  background-color: rgba(255, 68, 0, 0.932);
  padding: 20px 30px;
  border-radius: 30px 15px;
  box-shadow: -10px 20px 15px rgba(0, 0, 0, 0.582);

}

h1:hover{
    animation: hh1 0.5s forwards ease;
}

@keyframes hh1 {
    0%{
        margin-top: 0px;
    }
    100%{
        margin-top: -5px;
    }
}

.input{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-top: 30px;

}


